<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>列表过滤</title>
</head>

<body>
  <div id="root">
    <input type="text" v-model="keyWords">
    <ul>
      <li v-for="item in list" :key="item.id">
        {{item.id}}-------{{item.name}}
      </li>
    </ul>

  </div>

  <script src="./vue.js"></script>

  <script>
    Vue.config.productionTip = false;//调整配置

    new Vue({
      el: "#root",
      data() {
        return {
          keyWords: "",
          arr: [{
            id: "001",
            name: "冬天",
          },
          {
            id: "002",
            name: "冬瓜",
          },
          {
            id: "003",
            name: "西瓜",
          }, {
            id: "004",
            name: "西天取经",
          }],
          list: []
        }
      },
      //#region 
      // computed: {
      //   list() {
      //     // return this.arr.filter(item => {
      //     //   return item.name.indexOf(this.keyWords) >= 0;
      //     // })
      //     return this.arr.filter(item => {
      //       return item.name.includes(this.keyWords);
      //     })
      //   }
      // }
      //#endregion

      // "abc".includes("") true

      watch: {
        keyWords: {
          immediate: true, //立即调用
          handler() {
            this.list = this.arr.filter(item => {
              return item.name.indexOf(this.keyWords) >= 0;
            })
          }
        }
      }
    })
  </script>
</body>

</html>